{% capture content %}

<section class="hero">

	<div class="hero-mobile">  
		<div class="hero-image">
			<img src="http://placekitten.com/g/1000/360" alt="">
		</div>			
		<h1 class="hero-title">Mayors of Liberty<br><span>Dream On</span></h1>
	</div>
	<p class="hero-subtitle">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

</section>

<section class="section">
	
	<h2 class="section-header">New Releases</h2>

	<div class="section-content">
		<ul class="items split-2">
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
		</ul>
	</div>

</section>

<section class="section">
	
	<h2 class="section-header">Tweets</h2>

	<div class="section-content">
		
		<ul class="tweets split-2">
			<li class="tweet">
				<div class="tweet-name">Distiller Promo</div>
				<span class="handle"><a href="#">@distillerpromo</a></span>
				<span>-</span>
				<span class="twitter_date">Jun 2</span>
				<br>
				<span>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id eli.</span>
			</li>

			<li class="tweet">
				<div class="tweet-name">Brick Lane Records</div>
				<span class="handle"><a href="#">@bricklanerecs</a></span>
				<span>-</span>
				<span class="twitter_date">June 6</span>
				<br>
				<span>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
			</li>

			<li class="tweet">
				<div class="tweet-name">Brick Lane Record</div>
				<span class="handle"><a href="#">@bricklanerecs</a></span>
				<span>-</span>
				<span class="twitter_date">May 31</span>
				<br>
				<span>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
			</li>
				
			<li class="tweet">
				<div class="tweet-name">Nathan Quiroga</div>
				<span class="handle"><a href="#">@buffalomadonna</a></span>
				<span>-</span>
				<span class="twitter_date">May 31</span>
				<br>
				<span>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit</span>
			</li>
		</ul>

	</div>

</section>

<section class="section">
	
	<h2 class="section-header">News</h2>

	<div class="section-content">
		
		<ul class="articles split-2">
			
			<li class="article">
				<img src="http://placekitten.com/g/300/200" alt="">
				<div class="article-date">
					June 11
				</div>
				<div class="article-text">
					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</div>
				<div class="article-share">
					<span class="like_link"><a href="#">Like</a> |</span>
					<span class="number_of_likes"><a href="#">12 people</a> like this.</span>
				</div>
			</li>
		
			<li class="article">
				<img src="http://placekitten.com/g/300/200" alt="">
				<div class="article-date">
					June 12
				</div>
				<div class="article-text">
					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</div>
				<div class="article-share">
					<span class="like_link"><a href="#">Like</a> |</span>
					<span class="number_of_likes"><a href="#">23 people</a> like this.</span>
				</div>
			</li>
		</ul>

	</div>

</section>

<section class="section">
	
	<h2 class="section-header">Touring Now</h2>

	<div class="section-content">

		<ul class="events split-2">
			<li class="event">
	    		<span class="event-artist">Iska Dhaaf</span> &bull; <span class="event-date">June 20</span><br>
				<span class="event-venue">Neck of the Woods</span> <span class="event-city">San Fransisco</span>
			</li>
			
			<li class="event">
				<span class="event-artist">Iska Dhaaf</span> &bull; <span class="event-date">June 20</span><br>
				<span class="event-venue">Neck of the Woods</span> <span class="event-city">San Fransisco</span>
			</li>
		
			<li class="event">
	    		<span class="event-artist">Iska Dhaaf</span> &bull; <span class="event-date">June 20</span><br>
				<span class="event-venue">Neck of the Woods</span> <span class="event-city">San Fransisco</span>
			</li>
			
			<li class="event">
				<span class="event-artist">Iska Dhaaf</span> &bull; <span class="event-date">June 20</span><br>
				<span class="event-venue">Neck of the Woods</span> <span class="event-city">San Fransisco</span>
			</li>

			<li class="event">
	    		<span class="event-artist">Iska Dhaaf</span> &bull; <span class="event-date">June 20</span><br>
				<span class="event-venue">Neck of the Woods</span> <span class="event-city">San Fransisco</span>
			</li>
			
			<li class="event">
				<span class="event-artist">Iska Dhaaf</span> &bull; <span class="event-date">June 20</span><br>
				<span class="event-venue">Neck of the Woods</span> <span class="event-city">San Fransisco</span>
			</li>

			<li class="event">
	    		<span class="event-artist">Iska Dhaaf</span> &bull; <span class="event-date">June 20</span><br>
				<span class="event-venue">Neck of the Woods</span> <span class="event-city">San Fransisco</span>
			</li>
			
			<li class="event">
				<span class="event-artist">Iska Dhaaf</span> &bull; <span class="event-date">June 20</span><br>
				<span class="event-venue">Neck of the Woods</span> <span class="event-city">San Fransisco</span>
			</li>
		</ul>

	</div>

</section>

<section class="section"> 

	<h2 class="section-header">Videos</h2>

	<div class="section-content">
		<ul class="videos split-2">
			<li class="video">
				<div class="video-responsive">
					<video src="https://www.youtube.com/watch?v=ZFopwzbQKKI" autoplay poster="http://placekitten.com/g/320/180"></video>
				</div>
				<div class="video-title">
					<a href="#">Where All Directions Lead</a>
				</div>
				<span>by <a href="#" class="video-artist">You Are Pural</a></span>
				<span>- <span class="video-publication">3 years ago</span></span> 
				<span>- <span class="video-views">28,514</span> views</span>
			</li>
			<li class="video">
				<div class="video-responsive">
					<video src="https://www.youtube.com/watch?v=ZFopwzbQKKI" autoplay poster="http://placekitten.com/g/320/180"></video>
				</div>
				<div class="video-title">
					<a href="#">Where All Directions Lead</a>
				</div>
				<span>by <a href="#" class="video-artist">You Are Pural</a></span>
				<span>- <span class="video-publication">3 years ago</span></span> 
				<span>- <span class="video-views">28,514</span> views</span>
			</li>
		</ul>
	</div>
</section>

{% endcapture %}

{% include 'layouts/default' %}
