{% capture content %}

<div class="section">
	<h1 class="section-header">{{title}}</h1>
	<div class="section-content">
		<ul class="split-2-4">
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
		</ul>
	</div>
</div>

{% endcapture %}

{% include 'layouts/default' %}