{% capture content %}

<ul id="events"></ul>

{% capture json %}
{
{% for page in site.pages %}
  {% if page.title == "Tour Dates" %}
    "artists": [
    {% for page in page.pages %}
      {
        "name" : "{{page.title}}",
        "events" : [
        {% for post in page.posts %}
          {
            "title":  {{post.title | json}},
            "posted": "{{post.date | date: "%D"}}",
            "city": "{{post.meta['city']}}",
            "url": "{{post.url}}"
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
        ]
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
    ]
  {% endif %}
{% endfor %}
}
{% endcapture %}

<script> 

  // sorts the array by date

  var custom_sort = function(a, b) {
    return new Date(a.date).getTime() - new Date(b.date).getTime();
  }

  var tourDates = {{ json | strip_newlines | replace:'  ','' }},
  arr = [],
  // counter to set the array id #
  k = 0;

  // finds number of artists

  var artistsNum = tourDates.artists.length;

  for (var i = 0; i < artistsNum; i++){
    var artistName = tourDates.artists[i].name;
    var artistEvents = tourDates.artists[i].events;
    var dates = artistEvents.length;

    console.log("length of dates: " + dates);
    for (var j = 0; j < dates; j++ ) {
      k++;
      arr.push({"id": k, "artist": artistName, "date": artistEvents[j].posted, "venue": artistEvents[j].title, "city": artistEvents[j].city, "url": artistEvents[j].url });
    }
  }

  // call sort function on arr

  arr.sort(custom_sort);

  var list = $("#events");

  for(var l = 0; l < arr.length; l++) {
    list.append('<li><p><span class="event-artist">' + arr[l].artist + '</span>' + 
                ' • <span class="event-date">' + arr[l].date + '</span><br>' +
                '<span class="event-venue">' + arr[l].venue + '</span>' + 
                ' • <span class="event-city">' + arr[l].city + '</span>' +
                '</p></li>');
  }
</script>

{% endcapture %}

{% include 'layouts/default' %}
