{% capture content %}

{% for artist in pages %}
	<div class="section">
		<h1 class="section-header">{{artist.title}}</h1>
		<div class="section-content">
			{% if artist.posts.length > 0 %}
				<ul class="events split-2">
					{% for post in artist.posts reversed %}
						{% include 'includes/event' %}
					{% endfor %}
					<li><a class="more" href="#">View more</a></li>
				</ul>
			{% else %}
				no events at this time
			{% endif %}
		</div>
	</div>
{% endfor %}

{% endcapture %}

{% include 'layouts/default' %}