{% capture content %}

{% assign tourDates = false %}

{% for artist in pages %}
	{% if artist.posts.size > 0 %}

  <!-- if someone has a tourdate set tourDates to true -->
  {% assign tourDates = true %}

	<div class="section">
		<h1 class="section-header">{{artist.title}}</h1>
    <div class="section-content">

          <div class="split-2">
            {% assign totalDates = artist.posts.length %}
            {% assign maxDates = 8 %}

            {% if totalDates > maxDates %}
              {% assign exceedsMaxDates = true %}
              {% assign half = maxDates | divided_by: 2 %}
              {% assign offsetL = totalDates | minus: half %}
              {% assign offsetR = totalDates | minus: maxDates %}

              <ul class="left">
                {% for post in artist.posts reversed | offset: offsetL %}
                    {% include 'includes/event' %}
                {% endfor %}
              </ul>

              <ul class="right">
                {% for post in artist.posts reversed | offset: offsetR | limit: half %}
                    {% include 'includes/event' %}
                {% endfor %}
              </ul>
            {% else %}
              {% if totalDates == 1 %}
                {% assign half = 1 %}
              {% else %}
                {% assign half = totalDates | divided_by:2 %}

                {% assign remainder = totalDates | modulo: 2 %}
                {% if remainder > 0 %}
                  {% assign half = half | plus:'1' %}
                {% endif %}
                {% assign overHalf = half | plus:1 %}
              {% endif %}

              <ul class="left">
              {% for post in artist.posts reversed %}
                {% if forloop.index0 < half %}
                  {% include 'includes/event' %}
                {% endif %}
              {% endfor %}
            </ul>

            <ul class="right">
              {% for post in artist.posts reversed %}
                {% if forloop.index0 >= half %}
                  {% include 'includes/event' %}
                {% endif %}
              {% endfor %}
            </ul>

            {% endif %}

          </div>

          {% if exceedsMaxDates %}
            <a href="/tour-dates/{{artist.slug}}" class="fr">view more</a>
          {% endif %}

    </div>
    </div>
	{% endif %}

{% endfor %}

<!-- if no tour dates then display this -->

{% if tourDates == false %}
  no tour dates at this time
{% endif %}


{% endcapture %}

{% include 'layouts/default' %}
