{% capture content %}

{% include 'includes/hero' %}

<div class="section">
	<h2 class="section-header">Featured</h2>
	<div class="section-content">
		<ul class="split-1-2">
			{% include 'includes/item' %}
			{% include 'includes/item' %}
		</ul>
	</div>
</div>

<div class="section">
	<h2 class="section-header">Vinyl</h2>
	<div class="section-content">
		<ul class="split-2-4">
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
		</ul>
		<p class="float-right"><a class="item-title" href="#">View all</a></p>
	</div>
</div>

<div class="section">
	<h2 class="section-header">Releases</h2>
	<div class="section-content">
		<ul class="split-2-4">
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
		</ul>
		<p class="float-right"><a class="item-title" href="#">View all</a></p>
	</div>
</div>

<div class="section">
	<h2 class="section-header">Merch</h2>
	<div class="section-content">
		<ul class="split-2-4">
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
			{% include 'includes/item' %}
		</ul>
		<p class="float-right"><a class="item-title" href="#">View all</a></p>
	</div>
</div>

{% endcapture %}

{% include 'layouts/default' %}