{% capture content %}

<section class="hero">
	<div class="hero-mobile">  
		<div class="hero-image" style="background-image: url('{{assets[0]}}')"></div>  		
		<h1 class="hero-title"><span>{{title}}</span></h1>
	</div>
</section>

<section class="section">
	<div class="section-content">
	{% for asset in assets | offset: 1 %}
		<a href="{{asset.url}}" data-featherlight="image" class="img-thumb"> 
			<figure style="background-image: url('{{asset.url}}')" alt="{{title}} - profile photo"/></figure>
		</a>
	{% endfor %}
	</div>	
</section>

<section class="section">	
	<h2 class="section-header">About</h2>		
	<div class="section-content">
		{{body}}
	</div>		
</section>


<section id="releases" class="section">

	{% comment %}
		Releases
	{% endcomment %}

	
	<h2 class="section-header">Releases</h2>
	<div class="section-content">
		<ul class="albums split-2-4"></ul>

	</div>
</section>

{% comment %}
	Finds if an artist has tour dates and sets hasEvents
{% endcomment %}

{% assign hasEvents = false %}
{% for artist in site.pages.tour-dates.pages %}
  {% if hasEvents == false and artist.slug == {{slug}} and artist.posts.size > 0 %}
    {% assign hasEvents = true %}
  {% endif %}
{% endfor %}

{% comment %}
	if hasEvents is true then loop through dates
{% endcomment %}

{% if hasEvents %}
	<section class="section">	
		<h2 class="section-header">Tour Dates</h2>
		<div class="section-content">
			<ul class="split-2">
				{% for artist in site.pages.tour-dates.pages %}
					{% if artist.slug == {{slug}} %}
					  {% for post in artist.posts %}
					    {% include 'includes/event' %}
					  {% endfor %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>
{% endif %}

{% comment %}
	Finds if an artist has tour dates and sets hasEvents
{% endcomment %}

{% assign hasArticles = false %}
{% for artist in site.pages.press.pages %}
   {% if hasArticles == false and artist.slug == {{slug}} and artist.posts.size > 0 %}
   		{% assign hasArticles = true %}
   {% endif %}
{% endfor %}

{% comment %}
	if hasArticles is true then loop through dates
{% endcomment %}

{% if hasArticles %}
	<section class="section">	
		<h2 class="section-header">Press</h2>
		<div class="section-content">
			<ul>
				{% for artist in site.pages.press.pages %}
					{% if artist.slug == {{slug}} %}
					  {% for post in artist.posts %}
					    <li>
							<!-- <span class="item-title">{{post.title}}</span> -->
							{{post.body}}
						</li>
					  {% endfor %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>
{% endif %}

<section class="section">	
	<h2 class="section-header">News</h2>
	<div class="section-content">		
		<ul id="divFeedContainer" class="split-2 fb-home"></ul>
    	<p><a href="/news/{{slug}}" class="item-title">View more</a></p>
	</div>
</section>

<section class="section">	
	<h2 class="section-header">Tweets</h2>
	<div class="section-content">
		<ul id="divTweetsContainer" class="split-2"></ul>
	</div>
</section>

<section class="section"> 
	<h2 class="section-header">Videos</h2>
	<div class="section-content">

		{% comment %}
			Pulled from Youtube
		{% endcomment %}
		
		<ul id="divPlaylistContainer" class="split-2"></ul>
		<!-- <a href="#">watch more on youtube</a> -->
	</div>
</section>



<script type="application/javascript">
  function yourFunction(data) {

    var storeUrl = "http://bricklanerecords.limitedrun.com";
    var productName, productImg, productUrl, productCount = 0;
    for (var i = 0; i < data.products.length; i ++) {

    	// check to see if they are this artists albums

    	if (data.products[i].artist == "{{title}}") {
    		productCount = productCount + 1;
    		productName = data.products[i].name;
	      productUrl = data.products[i].url;
	      productArtist = data.products[i].artist;
	      productImg = data.products[i].images[0];
	      $(".albums").append(
	        '<li>' + 
	          '<div class="item-image"><a href="' + storeUrl + productUrl + '"><img src="' + productImg + '"></a></div>' +
	          '<div class="item-artist">' + productArtist + '</div>' +
	          '<div class="item-album">' + productName + '</div>' +
	          // '<div class="item-type">' + productName + '</div>' +
	          '<p class="item-buy"><a href="' + storeUrl + productUrl + '" class="button">Buy</a></p>' +
	        "</li>");
    	}
    }
    
    if (productCount == 0) {
    	$("#releases").hide();
    }
  }
</script>
 
<script type="application/javascript" src="https://bricklanerecords.limitedrun.com/feeds/products.json?q=yourFunction"></script>

{% endcapture %}

{% include 'layouts/artists' %}