{% capture content %}

<section class="hero">
	<div class="hero-mobile">
		<div class="hero-image" style="background-image: url('{{assets[0]}}')"></div>
		<h1 class="hero-title"><span>{{title}}</span></h1>
	</div>
</section>

<section class="section">
	<div class="section-content">
	{% for asset in assets | offset: 1 %}
		<a href="{{asset.url}}" data-featherlight="image" class="img-thumb">
			<figure style="background-image: url('{{asset.url}}')" alt="{{title}} - profile photo"/></figure>
		</a>
	{% endfor %}
	</div>
</section>

<section class="section">
	<h2 class="section-header">About</h2>
	<div class="section-content">
		{{body}}
	</div>
</section>


<section id="releases" class="section">

	{% comment %}
		Releases
	{% endcomment %}


	<h2 class="section-header">Releases & Merch</h2>
	<div class="section-content">
		<ul class="albums split-2-4"></ul>

	</div>
</section>

{% comment %}
	Finds if an artist has tour dates and sets hasEvents
{% endcomment %}

{% assign hasEvents = false %}
{% for artist in site.pages.tour-dates.pages %}
  {% if hasEvents == false and artist.slug == {{slug}} and artist.posts.size > 0 %}
    {% assign hasEvents = true %}
  {% endif %}
{% endfor %}

{% comment %}
	if hasEvents is true then loop through dates
{% endcomment %}

{% if hasEvents %}
  <section class="section">
    <h2 class="section-header">Tour Dates</h2>
    <div class="section-content">
      {% for artist in site.pages.tour-dates.pages %}
        {% if artist.slug == {{slug}} %}

          <div class="split-2">
            {% assign totalDates = artist.posts.length %}
            {% assign maxDates = 16 %}

            {% if totalDates > maxDates %}
              {% assign exceedsMaxDates = true %}
              {% assign half = maxDates | divided_by: 2 %}
              {% assign offsetL = totalDates | minus: half %}
              {% assign offsetR = totalDates | minus: maxDates %}

              <ul class="left">
                {% for post in artist.posts reversed | offset: offsetL %}
                    {% include 'includes/event' %}
                {% endfor %}
              </ul>

              <ul class="right">
                {% for post in artist.posts reversed | offset: offsetR | limit: half %}
                    {% include 'includes/event' %}
                {% endfor %}
              </ul>
            {% else %}
              {% if totalDates == 1 %}
                {% assign half = 1 %}
              {% else %}
                {% assign half = totalDates | divided_by:2 %}

                {% assign remainder = totalDates | modulo: 2 %}
                {% if remainder > 0 %}
                  {% assign half = half | plus:'1' %}
                {% endif %}
                {% assign overHalf = half | plus:1 %}
              {% endif %}

              <ul class="left">
              {% for post in artist.posts reversed %}
                {% if forloop.index0 < half %}
                  {% include 'includes/event' %}
                {% endif %}
              {% endfor %}
            </ul>

            <ul class="right">
              {% for post in artist.posts reversed %}
                {% if forloop.index0 >= half %}
                  {% include 'includes/event' %}
                {% endif %}
              {% endfor %}
            </ul>

            {% endif %}

          </div>

          {% if exceedsMaxDates %}
            <a href="/tour-dates/{{artist.slug}}" class="fr">view more</a>
          {% endif %}

        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}



<!-- {% if hasEvents %}
	<section class="section">
		<h2 class="section-header">Tour Dates</h2>
		<div class="section-content">
			{% for artist in site.pages.tour-dates.pages %}
				{% if artist.slug == {{slug}} %}
					<div class="split-2">
            {% if artist.posts.length > 16 %}
              {% assign half = 8 %}
            {% else %}
						  {% assign half = artist.posts.length | divided_by:2 %}
            {% endif %}

						{% comment %} if only one post then set half = 1 {% endcomment %}
						{% if artist.posts.length == 1 %}
							{% assign half = 1 %}
						{% endif %}
            {% assign remainder = artist.posts.length | modulo: 2 %}
            {% if remainder > 0 %}
              {% assign half = half | plus:'1' %}
            {% endif %}
						{% assign overHalf = half | plus:1 %}

						<ul class="left">

							{% for post in artist.posts reversed %}
								{% unless forloop.index > half %}
									{% include 'includes/event' %}
								{% endunless %}
							{% endfor %}
						</ul>
						<ul class="right">
							{% for post in artist.posts reversed %}
								{% unless forloop.index < overHalf or forloop.index > 16 %}
									{% include 'includes/event' %}
								{% endunless %}
							{% endfor %}
						</ul>
					</div>
					{% if artist.posts.size > 16 %}
						<a href="/tour-dates/{{artist.slug}}" class="fr">view more</a>
					{% endif %}
				{% endif %}
			{% endfor %}

		</div>
	</section>
{% endif %} -->



{% comment %}
	Finds if an artist has tour dates and sets hasEvents
{% endcomment %}

{% assign hasArticles = false %}
{% for artist in site.pages.press.pages %}
   {% if hasArticles == false and artist.slug == {{slug}} and artist.posts.size > 0 %}
   		{% assign hasArticles = true %}
   {% endif %}
{% endfor %}

{% comment %}
	if hasArticles is true then loop through dates
{% endcomment %}

{% if hasArticles %}
	<section class="section">
		<h2 class="section-header">Press</h2>
		<div class="section-content">
			<ul>
				{% for artist in site.pages.press.pages %}
					{% if artist.slug == {{slug}} %}
					  {% for post in artist.posts %}
					    <li>
							<!-- <span class="item-title">{{post.title}}</span> -->
							{{post.body}}
						</li>
					  {% endfor %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>
{% endif %}

<section class="section">
	<h2 class="section-header">News</h2>
	<div class="section-content">
		<ul id="divFeedContainer" class="split-2 fb-home"></ul>
    	<p><a href="/news/{{slug}}" class="item-title fr">View more</a></p>
	</div>
</section>

<section class="section">
	<h2 class="section-header">Tweets</h2>
	<div class="section-content">
		<ul id="divTweetsContainer" class="split-2"></ul>
	</div>
</section>

<section class="section">
	<h2 class="section-header">Videos</h2>
	<div class="section-content">

		{% comment %}
			Pulled from Youtube
		{% endcomment %}

		<ul id="divPlaylistContainer" class="split-2"></ul>
		<!-- <a href="#">watch more on youtube</a> -->
	</div>
</section>



<script type="application/javascript">

  // $fix - there is som reusuable code here on the front page

  function yourFunction(data) {

    var storeUrl = "http://store.bricklanerecords.com";
    var productName, productPrice, productImg, productUrl, productCount = 0, price;
    for (var i = 0; i < data.products.length; i ++) {

    	// check to see if they are this artists albums

    	if (data.products[i].artist == "{{title}}") {
    		productCount = productCount + 1;
    		productName = data.products[i].name;
        externalUrl = data.products[i].externalUrl;
        buttonText = data.products[i].buttonText;
	      productUrl = externalUrl ? '<a href="' + externalUrl + '" target="_blank">' : '<a href="' + storeUrl + data.products[i].url + '">';
        buttonUrl = externalUrl ? '<a href="' + externalUrl + '" target="_blank" class="button">' : '<a href="' + storeUrl + data.products[i].url + '" class="button">';
        productArtist = data.products[i].artist;
	      productPrice = data.products[i].price;
	      productImg = data.products[i].images[0];

        // check to see if product is free to set text on Buy link
        if (buttonText) {
          price = buttonText;
        } else if (productPrice == "$0.00") {
          price = "Free";
        } else {
          price = "Buy";
        };

	      $(".albums").append(
	        '<li class="item">' +
	          '<div class="item-image">' +
            productUrl +
            '<img src="' + productImg + '"></a></div>' +
	          '<div class="item-info"><div class="item-artist">' + productArtist + '</div>' +
	          '<div class="item-album">' + productName + '</div></div>' +
	          '<p class="item-buy">' +
            buttonUrl +
              price + '</a></p></li>');

    	}
    }

    if (productCount == 0) {
    	$("#releases").hide();
    }
  }

  if (window.location.search.indexOf('cart=open') > -1) {
    Store.cart.show()
}

equalheight = function(container){

var currentTallest = 0,
     currentRowStart = 0,
     rowDivs = new Array(),
     $el,
     topPosition = 0;
 $(container).each(function() {

   $el = $(this);
   $($el).height('auto')
   topPostion = $el.position().top;

   if (currentRowStart != topPostion) {
     for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
       rowDivs[currentDiv].height(currentTallest);
     }
     rowDivs.length = 0; // empty the array
     currentRowStart = topPostion;
     currentTallest = $el.height();
     rowDivs.push($el);
   } else {
     rowDivs.push($el);
     currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
  }
   for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
     rowDivs[currentDiv].height(currentTallest);
   }
 });
}

$(window).load(function() {
  equalheight('.split-2-4 li');
});


$(window).resize(function(){
  equalheight('.split-2-4 li');
});
</script>

<script type="application/javascript" src="https://bricklanerecords.limitedrun.com/feeds/products.json?q=yourFunction"></script>

{% endcapture %}

{% include 'layouts/artists' %}
