*,
*:before,
*:after {box-sizing: border-box;}

html,
body { 
  font-size: $font-size + 0px;
  line-height: $line-height + 0px;
}

body {
  font-family: $font-sans;
  color: $gray;
}

section {
  margin-bottom: spacer(4);
}

p {margin-bottom: $base-spacing-unit;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  margin-bottom: $base-spacing-unit;
}

h1 {@include font-size(36);}
h2 {@include font-size(30);}
h3 {@include font-size(24);}
h4 {@include font-size(18);}
h5 {@include font-size(14);}
h6 {@include font-size(12);}

strong {
  font-family: $font-sans-dem;
}

img {
  display: block;
  width: 100%;
}

pre {
  display: inline-block;
  padding: 0 3px;
  border: 1px solid #ff0000;
}

a {
  color: $pink;
  text-decoration: none;
  
  &:hover {
    @include link-underline;
  }
}

select {
  border: 1px solid $pink;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  font-weight: bold;
  color: $pink;
}