.article {
  margin-bottom: vr(1);

  img {
    display: block;
    margin-bottom: vr(1);
  }
}

.article-date {
  font-weight: bold;
}

.article-text {
  margin-bottom: vr(1);
}

.article-title {
  font-size: rem(18);
  line-height: 1;

  @include mq($med) {
    font-size: rem(36);
  }
}

.article-subtitle {
  line-height: 1;
  font-size: 100%;
  font-weight: bold;

  @include mq($med) {
    font-size: rem(20);
    font-weight: normal;
  }
}