.event {
  margin-bottom: vr(1);
}

.event-artist {
  margin-right: vr(0.5);
  font-weight: bold;
}

.event-date {
  margin-left: vr(0.5);
  font-weight: bold;
  
  &:first-child {
    margin-left: 0;
  }
}

.event-city {
  display: block;

  @include mq($med) {
    display: inline;
  }

  &:before {

    @include mq($med) {
      content: ' - ';
    }
  }
}