.fb-home .fb-media {
    margin-bottom: vr(1);

    > a figure {

        background-size: cover;
        background-position: center center;
        padding-bottom: 60%;
        width: 100%;
    }
}

// add spacing for new articles on home page

.fb-home {
    article {
        margin-bottom: vr(1);
    }

    a {
        word-wrap: break-word;
    }
}

.news .fb-media figure,
.newsDetail .fb-media figure {
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: vr(1);

}

.soundcloud-embed {
    width: 100% !important;
    margin-bottom: vr(1);
}



iframe + a {
    display: none;
}

iframe + a + p {
    display: none;
}