.item-image {
  display: block;
  margin-bottom: vr(1);
}

.item-image-shop {
  border: 2px solid $gray-light;
}

.item-artist {
  font-weight: bold;
  display: inline-block;
  margin-right: vr(1);
}

.item-album {
  display: inline-block;
  margin-right: vr(1);
}

.item-type {
  display: inline-block;
}

.item-buy {
  margin-top: vr(1);
}

.item-title {
  font-weight: bold;
}

.item-thumbs {
  overflow: hidden;

  > * {
    @include span(3);
    margin-bottom: vr(1);
    border: 2px solid $gray-light;

    @include mq($med) {
      @include span(1 of 4);
    }

    &:nth-child(4n) {
      @include last;
    }

    &:nth-child(4n+1) {
      clear: both;
    }
  }

  a {
    cursor: pointer;
  }
}