.primary-header {
  position: relative;
  padding-top: vr(1);
  margin-bottom: vr(1);

  @include mq($med) {
    margin-bottom: vr(8);
    background: none !important;
  }

  .main-nav-active & {
    background: $pink;
  }
}

.mobile-container {
  @extend %clearfix;

  @include mq($med) {
    @include span(4);
  }
}

.site-title {
  @include span(6);
  margin: 0;

  a {
    @include link;
    display: block;
    width: rem(103);
    height: rem(42);
  }

  span {
    display: none;
  }
}

.main-nav-toggle {

  @include link;
  @include span(6);
  @include last;
  text-align: right;
  cursor: pointer;
  text-transform: uppercase;
  color: $gray;
  font-weight: bold;
  font-size: rem(14);

  @include mq($med) {
    display: none;
  }

  &:before {
    float: right;
    width: 0; 
    height: 0; 
    border-left: rem(5) solid transparent;
    border-right: rem(5) solid transparent;
    border-top: rem(5) solid $gray;
    content: '';
    margin: rem(5) 0 0 rem(5);
  }

  .main-nav-active & {
    color: $white;

    &:before {
      border-top-color: $white;
    }
  }
}