// fixes for tweets

.tweet {
  img {
    display: inline-block;
    height: 1em;
    width: 1em;
    padding: 0 .05em 0 .1em;
    vertical-align: -0.1em;
  }

  a {
    word-wrap: break-word;
    word-break: break-word;
  }
}

#lnkNext {
  float: right;
}