.view-more {
  > * {
    display: none;

    // items to show initially, update alongside variable in js/main.js
    $view-more: 2;
    $count: 0;
    @while $count < $view-more {
      $count: $count + 1;
      
      &:nth-child(#{$count}) {
        display: block;
      }
    }
  }
}

.view-more-item {
  display: block !important;
}

.view-more-link {
  cursor: pointer;
}