{% capture content %}

<h1 class="section-header">
	404 Error
</h1>
<div class="section-content">
	We are sorry but this page doesn't exist. Head <a href="/">home</a> or why not find some nice things in the <a href="/shop">shop</a>/.
</div>

{% endcapture %}

{% include 'layouts/default' %}
