<footer>
  <div class="container">
    <nav>
      <ul class="footer-nav">
        <li><a target="_blank" href="https://www.facebook.com/blrmusicpublishing">Facebook</a></li>
        <li><a target="_blank" href="https://twitter.com/bricklanerecs">Twitter</a></li>
        <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLd9HIwJD5brDyO3_kNz_AOtBoQu4VSSkf">Youtube</a></li>
        <li><a target="_blank" href=" http://bricklanerecords.bandcamp.com">Bandcamp</a></li>
        <li><a target="_blank" href="https://soundcloud.com/brick-lane-records">Soundcloud</a></li>
        <li><a target="_blank" href="http://eepurl.com/beZ0Wn">Join Mailing List</a></li>
      </ul>
    </nav>
  </div>
</footer>