{% if posts.size > 0 %}
  {% for post in posts | first  %}
    <section class="hero">
      <div class="hero-mobile">  
        <div class="hero-image" style="background-image: url('{{post.assets[0]}}')"></div>         
        <h1 class="hero-title">
          {{post.title}}<br>
          {{% if post.meta['subTitle'] %}}<span>{{post.meta['subTitle']}}</span>{{% endif %}}
        </h1>
      </div>
      <div class="hero-body">{{ post.body }}</div>
    </section>
  {% endfor %}
{% else %}
  {% for post in site.pages.home.posts | first  %}
    <section class="hero">
      <div class="hero-mobile">  
        <div class="hero-image" style="background-image: url('{{post.assets[0]}}')"></div>      
        <h1 class="hero-title">
          {{post.title}}<br>
          {{% if post.meta['subTitle'] %}}<span>{{post.meta['subTitle']}}</span>{{% endif %}}
        </h1>
      </div>
      <div class="hero-body">{{ post.body }}</div>
    </section>
  {% endfor %}
  
{% endif %}