{% comment %} if page is detailed tour date {% endcomment %}

{% if parent.parent.title == "Tour Dates" or parent.title == "Artists" %}
    {% assign metaImg = {{assets[0].permalink}} %}
{% else %}
    {% for post in site.pages.home.posts | first  %}
        {% assign metaImg = {{post.assets[0].permalink}} %}
    {% endfor %}
{% endif %}

<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<meta property="og:title" content="{{title}}" />
<meta property="og:image" content="{{metaImg}}" />
<meta property="og:url" content="{{permalink}}/"/>
<meta property="og:site_name" content="Brick Lane Records" />
<meta property="og:description" content="{{body | strip_html }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="{{body | strip_html }}" />
<meta name="twitter:url" content="{{permalink}}/" />
<meta name="twitter:image" content="{{metaImg}}" />

<meta name="description" content="{{site.pages.meta.body | strip_html }}" />

