.section {
  @extend %clearfix;
  margin-bottom: vr(2);

  @include mq($med) {
    margin-bottom: vr(4);
  }
}

.section-header {
  color: $pink;
  font-size: rem(18);
  line-height: 1;

  @include mq($med) {
    @include span(3);
    font-size: rem(36);
  }
}

.section-content {

  @include mq($med) {
    @include span(8);
    @include last;
  }

  *:last-child {
    margin-bottom: 0;
  }
}