.event-artist {
  margin-right: vr(0.5);
  font-weight: bold;
}

.event-date {
  margin-left: vr(0.5);
  font-weight: bold;
  
  &:first-child {
    margin-left: 0;
  }
}

.event-venue {
  display: block;

  @include mq($med) {
    display: inline;
  }
}

.event-city {
  display: block;

  @include mq($med) {
    display: inline;
  }
}