{% capture content %}

<pre>releases/default.html</pre>

<section>
	
	<h2 class="section-title">Album</h2>

	<img src="http://placekitten.com/g/300/300">
	<strong class="album-artist">{{parent.title}}</strong>
	<span class="album-title">{{title}}</span>
	<br>
	<span class="album-release-date">Released February 11th, 2014</span>
	<span class="album-formats">CD, Digital, LP</span>
	<br>
	<button>Buy</button>
	<a class="share" href="#">Share</a>

</section>

<section>
	<h2 class="section-title">Track list</h2>

	{% for post in posts %}
		{{post.title}}
	{% endfor %}

	<ol class="track-list">
		<li class="track">
			<a href="#" class="track-play"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
			<span class="track-title">Come Home</span> <span class="track-time">03:12</span>
			<a href="#" class="track-video"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
		</li>
		<li class="track">
			<a href="#" class="track-play"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
			<span class="track-title">Come Home</span> <span class="track-time">03:12</span>
			<a href="#" class="track-video"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
		</li>
		<li class="track">
			<a href="#" class="track-play"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
			<span class="track-title">Come Home</span> <span class="track-time">03:12</span>
			<a href="#" class="track-video"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
		</li>
		<li class="track">
			<a href="#" class="track-play"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
			<span class="track-title">Come Home</span> <span class="track-time">03:12</span>
			<a href="#" class="track-video"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
		</li>
		<li class="track">
			<a href="#" class="track-play"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
			<span class="track-title">Come Home</span> <span class="track-time">03:12</span>
			<a href="#" class="track-video"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
		</li>
		<li class="track">
			<a href="#" class="track-play"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
			<span class="track-title">Come Home</span> <span class="track-time">03:12</span>
			<a href="#" class="track-video"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
		</li>
		<li class="track">
			<a href="#" class="track-play"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
			<span class="track-title">Come Home</span> <span class="track-time">03:12</span>
			<a href="#" class="track-video"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
		</li>
		<li class="track">
			<a href="#" class="track-play"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
			<span class="track-title">Come Home</span> <span class="track-time">03:12</span>
			<a href="#" class="track-video"><img src="http://cal-adapt.org/media/images/icons/play.png" alt=""></a>
		</li>
	</ol>

</section>

<section>
	<h2 class="section-title">About</h2>

	<blockquote>
		"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
		<cite>Stereo Subversion</cite>
	</blockquote>
	<blockquote>
		"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
		<cite>Stereo Subversion</cite>
	</blockquote>
	<blockquote>
		"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
		<cite>Stereo Subversion</cite>
	</blockquote>
	<blockquote>
		"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
		<cite>Stereo Subversion</cite>
	</blockquote>

</section>

<section>
	<h2 class="section-title">Credits</h2>

	<p>
		<!-- this will probably just get pulled in as a body paragraph -->
		{{album credits}}
	</p>

	<ul class="tags">
			tags: 
			<li><a href="#">alternative</a></li>
			<li><a href="#">indie</a></li>
			<li><a href="#">blues</a></li>
			<li><a href="#">Seattle</a></li>
		</ul>

		<p>all rights reserved</p>

</section>


{% endcapture %}

{% include 'layouts/default' %}