{% capture content %}
  
  <div class="section section-compact">
  	<div class="section-content">
  		<div class="drop-down">
  			<a class="drop-down-toggle">Releases by Artist</a>
  			<ul class="drop-down-list">
  				<li><a href="#">Example 1</a></li>
  				<li><a href="#">Example 2<br>line break test</a></li>
  				<li><a href="#">Example 3</a></li>
  				<li><a href="#">Example 4 Example 4 Example 4</a></li>
  				<li><a href="#">Example 5</a></li>
  			</ul>
  		</div>
  	</div>
  </div>
  
  {% for artist in pages %}
	  <div class="section">
	    <h2 class="section-header">{{artist.title}}</h2>
	    <div class="section-content">
	    	<ul class="split-2-4">
		      {% for item in artist.posts %}
		        {% include 'includes/item' %}
		      {% endfor %}
	      	</ul>
	    </div>
	  </div>
  {% endfor %}  

{% endcapture %}

{% include 'layouts/default' %}