// ==========================================================================
// = Global Variables
// ==========================================================================

/**
 * CSS layout debugging
 * @link http://pesticide.io/
 * @type boolean
 */

$pesticide-debug              : false;

/**
 * Define width for browsers w/out media query support
 * @link http://jakearchibald.github.com/sass-ie/
 * @type boolean
 */

$fix-mqs                      : false !default;

/**
 * Turn on/off IE specific styles
 * @link http://jakearchibald.github.com/sass-ie/
 * @type boolean
 */

$old-ie                       : false !default;

// Color Scheme
// =============

// Descriptive colors:

$white: #fff;
$black: #000;
$gray: #666;
$gray-light: #e6e6e6;
$pink: #ed3b94;

// Main color palette

// $color-primary                : $hopbush;
// $color-secondary              : $bouquet;
// $color-accent                 : $patina;
// $color-shadow                 : rgba($black, .125);

// Common colors
// $color-background             : $white;
// $color-background-shade       : $iron;
// $color-background-invert      : $hopbush;
// $color-border                 : $iron;
// $color-text                   : darken($pale-sky, 15);
// $color-text-weak              : $regent-grey;
// $color-text-strong            : $midnight-blue;
// $color-text-heading           : $regent-grey;
// $color-text-invert            : rgba($color-background, .75);
// $color-text-strong-invert     : $color-background;

// Links
// $color-link                   : $color-primary;
// $color-link-hover             : $midnight-blue;
// $color-link-visited           : $bouquet;

// Selections
// $color-selection              : #b3d4fc;

// Messages
// $color-message                : #f4ecbb;
// $color-success                : #2cde2c;
// $color-warning                : #cf8600;
// $color-important              : #dd0000;
// $color-notice                 : #6666bb;


// Base Sizes
// ==========

/**
 * Base font size in used in _mixins.scss
 * @type number
 */

$font-size               : 12;

/**
 * Base line-height in used in _mixins.scss
 * @type number
 */

$line-height             : 14;

$em-base                 : 12 !global;

// Font Stacks
// ===========


/**
 * define font stack used for sans-serifs
 * @type string
 */

$font-sans             : 'FranklinGothicURW-Boo', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-sans-light       : 'FranklinGothicURW-Lig', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-sans-italic      : 'FranklinGothicURW-BooIta', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-sans-dem         : 'FranklinGothicURW-Dem', 'Helvetica Neue', Helvetica, Arial, sans-serif;


/**
 * define font stack used for headings
 * @requires {variable} $font-family-serif
 * @type string
 */

$font-display          : $font-sans;

/**
 * define font stack used for paragraphs
 * @requires {variable} font-family-sans
 * @type string
 */

$font-default          : $font-sans;

// Font Weights
// ============

$font-weight-light            : 300;
$font-weight-normal           : 400;
$font-weight-semibold         : 700;
$font-weight-bold             : 900;


// Susy Grid

$max-width: rem(960);
$base-line-height: 14px; // set for baseline-grid

$susy: (
  columns: 12,
  gutters: 1/3,
  gutter-position: after,
  debug: (
    image: hide,
    color: rgba(#00ff00, .2),
    output: background,
    toggle: top right,
  ),
);

// Breakpoints
// ============

$small                : 320px;
$med                  : 768px;
$large                : 1024px;

// spacing units

$base-spacing-unit: em(14);
$list-spacing-unit: $base-spacing-unit * 2;
$section-spacing-unit: $base-spacing-unit * 4;


