.video-responsive {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: vr(1);
  
  video,
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}