<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{site.title}} | {{title}}</title>
    {% include "includes/meta" %}
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  </head>

  <body class="{{title | slugify}}">

    {% include "includes/svgstore" %}

    {% include "includes/header" %}

    <div class="container">
      {{ content }}

    </div>

    {% include "includes/footer"  %}

    <script src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript">

    	// get url
    	var url = document.location.href;
    	var n = url.indexOf('/?');
    	url = url.substring(0, n != -1 ? n : url.length);

    	// Get artist from config
        var artist = BLRConfig.Artists.getArtist(url);

        if (artist.enabled) {
            var currentArtist = new facebookHelper(artist);
            $(document).ready(function () {
                currentArtist.Initialize({
                    container: "#divFeedContainer",
                    postCount: 2,
                    dateTemplate: "<span class=\"bold\">{formattedDate}</span><br>",
                    contentSectionTemplate: "<div>{media}{formattedDate}{message}</div>",
                    articleTemplate: "<article>{content}</article>"
                });
            });
        }

        var getVideos = function () {
            if (artist.enabled) {
                load(artist.youtubePlaylistId, "divPlaylistContainer");
            }
        }

        var twitter = new TwitterHelper(BLRConfig.Twitter);
          twitter.Initialize({
              container: "divTweetsContainer",
              count: 8
          });

          if (artist.twitterListName) {
            twitter.getArtistList(artist);
          } else {
            twitter.getTimeline(artist);
          }

    </script>
    <div id="tmplVideoItem" style="display:none;">
        <li>
            <div class="video-responsive">
              <iframe src="{videoSrc}?&showinfo=0"  width="560" height="315" frameborder="0" allowfullscreen></iframe>
          </div>
          <a href="http://www.youtube.com/watch?v={videoUrl}" target="_blank">{title}</a>
          <p>{publishedAt} - {viewCount} views</p>
        </li>
    </div>

    <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://apis.google.com/js/client.js?onload=getVideos"></script>
    {% include "includes/analytics" %}

  </body>

</html>
