<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{site.title}} | {{title}}</title>
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
  </head>

  <body class="{{title | slugify}}">

    {% include "includes/svgstore" %}

    {% include "includes/header" %}
    
    <div class="container">

      {{ content }}

    </div>

    {% include "includes/footer"  %}

    <script src="/assets/scripts/app.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=getVideos"></script>  

  </body>

</html>